.banner {
  width: 100%;
  padding-bottom: 25px;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.4em;
}
.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  padding-top: 2.5rem;
  width: 85%;
}

.listItem {
  display: flex;
  align-items: center;
  background-color: white;
  border-top: solid 1px #d6d6d6;
  border-bottom: solid 1px #d6d6d6;
  transition-duration: .2s;
  transition-property: box-shadow;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}

.listItem:hover {
  -webkit-box-shadow: 0 12px 18px -6px #dbdbdb;
     -moz-box-shadow: 0 12px 18px -6px #dbdbdb;
          box-shadow: 0 12px 18px -6px #dbdbdb;
}
.listContent {
	background-color: #fff;
  display: flex;
  flex-direction: row;
	width: 100%;
}
.listContent p {
  color: #14251c;
  font-size: 16px;
  text-transform: none;
}
h4 {
  color: #14251c;
  font-size: 22px;
  margin-right: 20px;
}
