.homePage {
  text-align: center;
}

.page {
  text-align: center;
  width: 95%;
  margin: 2rem auto;
}

.bannerContainer {
  position: relative;
  text-align: center;
  img {margin: 0;}
}

.infoBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 { font-size: 60px; color: white;}
}

@media (max-width: 750px) {
  .infoBanner {
    h1 {font-size: 40px;}
  }
}
